<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>

  <body class="flex flex-col items-center justify-between h-screen">
    <div class="fixed top-0 w-full h-16 bg-black top">
      <div (click)="goBack()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="m-4 mt-5 cursor-pointer"
        >
          <g fill="none">
            <path
              d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
            />
            <path
              fill="white"
              d="M3.283 10.94a1.5 1.5 0 0 0 0 2.12l5.656 5.658a1.5 1.5 0 1 0 2.122-2.122L7.965 13.5H19.5a1.5 1.5 0 0 0 0-3H7.965l3.096-3.096a1.5 1.5 0 1 0-2.122-2.121z"
            />
          </g>
        </svg>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center flex-grow">
      <h3 class="font-extrabold logo lg:text-2xl">Create the Room</h3>

      <div class="flex shadow-sm">
        <div
          class="relative rounded-lg w-64 overflow-hidden before:absolute before:w-12 before:h-12 before:content[''] before:right-0 before:bg-violet-500 before:rounded-full before:blur-lg after:absolute after:-z-10 after:w-20 after:h-20 after:content[''] after:bg-rose-300 after:right-12 after:top-3 after:rounded-full after:blur-lg"
        >
          <input
            inputmode="numeric"
            [(ngModel)]="randomValue"
            placeholder="Room id"
            readonly
            class="relative bg-transparent ring-0 outline-none border-2 border-neutral-500 text-neutral-900 placeholder-violet-700 text-sm font-semibold rounded-lg focus:ring-violet-500 placeholder-opacity-60 focus:border-violet-500 block w-full p-2.5 checked:bg-emerald-500"
            type="text"
          />
        </div>
        <button
          (click)="copyToClipboard()"
          (focus)="showCopyMessageOnFocus()"
          (blur)="hideCopyMessageOnBlur()"
          class="flex items-center justify-center w-10 h-10 py-1 mt-[0.1em] text-white bg-black rounded-e-lg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            class="pointer-events-none"
          >
            <rect width="24" height="24"></rect>
            <rect
              x="4"
              y="8"
              width="12"
              height="12"
              rx="1"
              stroke="#ffffff"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></rect>
            <path
              d="M8 6V5C8 4.44772 8.44772 4 9 4H19C19.5523 4 20 4.44772 20 5V15C20 15.5523 19.5523 16 19 16H18"
              stroke="#ffffff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-dasharray="2 2"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="fixed bottom-0 w-full h-16 bg-black bottom"></div>

    <script src="" async defer></script>
  </body>
</html>
