<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="h-screen flex flex-col justify-between items-center">
    <div class="h-16 bg-black top w-full fixed top-0"></div>

    <div
      class="flex-grow flex flex-col justify-center items-center flicker-animation"
    >
      <img
        src="../../assets/logo.png"
        (click)="redirectToChooseOne()"
        alt=""
        class="cursor-pointer flicker-animation"
      />
    </div>

    <div class="h-16 bg-black bottom w-full fixed bottom-0"></div>

    <script src="" async defer></script>
  </body>
</html>
