<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <body class="h-screen flex flex-col justify-between items-center">
      <div class="h-16 bg-black top w-full fixed top-0"></div>

      <div class="flex-grow flex flex-col justify-center items-center"></div>

      <div class="h-16 bg-black bottom w-full fixed bottom-0"></div>

      <script src="" async defer></script>
    </body>

    <script src="" async defer></script>
  </body>
</html>
